{% extends 'layout.html' %}
{% block title %}Bem vindo{% endblock %}
<style type="text/css">
.painel {
	display: inline-block;
	width: 600px;
	margin: 0 auto;
	margin-top: 10%;
}

</style>
<div class="painel">
	<section>
		<header>Bem vindo a nossa api</header>
		<article>
			<dt>
				<dl>Contados</dl>
				<dd>
					<p>
						<span>Tel.:</span> 
					</p>
					<p>
						<span>E-mail:</span>
					</p>
				</dd>
			</dt>
			<div >
				<h1>Redes Socias</h1>
				<ul>
					<li><a href='https://www.Facebook.com'>Facebook</a></li>
					<li><a href='https://www.twitter.com'>Twitter</a></li>
					<li><a href='https://www.youtube.com'>Youtube</a></li>
					<li><a href="https://www.minhadoc.com">Documentação</a></li>
				</ul>
			</div>
		</article>
	</section>
</div>